
form{
    background-color:rgb(171, 143, 179);
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:indigo;
    text-align: center;
}
h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(59, 130, 0);
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(0, 52, 130);

}