
form{
  
    background-color:#b0b0df;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:indigo;
    text-align: center;
}
h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(214, 60, 13);
}
h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(8, 75, 6)
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(0, 52, 130);

}
.card img{
    border-radius: 10%;
}
.navbar img{
    height: 70px;
}
.mainPage{
    background-color: rgb(229, 250, 135);
}
